<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Cadastrar Novo Campo</h5>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Visualizar Campos</h5>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

          <div *ngFor="let field of fields">
            <app-field [field]="field" [form]="form"></app-field>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!form.valid">Salvar</button>
        </form>

        <div *ngIf="payLoad" class="form-row">
          <strong>Saved the following values</strong><br>{{payLoad}}
        </div>
      </div>
    </div>
  </div>
</div>